{% extends "home.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
 {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

  {% if  stdLName %}
  <h2>Hello {{  stdFNames }}{{  stdLName }}!!</h2>
  {% else %}
  <h1>Fill In Personal Details:</h1>
</br>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.stdLName.label(Class="form-label") }}
    {{ form.stdLName(Class="form-control") }}
    {{ form.stdFNames.label(Class="form-label") }}
    {{ form.stdFNames(Class="form-control") }}
    {{ form.stdEmailP.label(Class="form-label") }}
    {{ form.stdEmailP(Class="form-control") }}
    {{ form.stdID.label(Class="form-label") }}
    {{ form.stdID(Class="form-control") }}
    {{ form.stdAddrs.label(Class="form-label") }}
    {{ form.stdAddrs(Class="form-control") }}
</br>
{{ form.submit(class="btn btn-secondary") }}
</form>
{% endif %}
 
{% endblock %}
